.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  border: 1px solid #fff;
  flex-direction: column;
}

.card-text {
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-family: "VT323", monospace;
}
